<%= link_to 'New Clip', new_clip_path %>

<h1>Browse Clips</h1>

<div class="clips">
  <% @clips.each do |clip| %>
  <a href="<%= url_for clip %>" class="clip">
    <img src="<%= clip.image %>" alt="<%= clip.title %>" />
  </a>
  <% end %>
</div>
