<div class="drawer">
  <a class="open-reel" href="#">Open A Reel</a>
  <div class="reels eight columns">
    <div class="four columns alpha">
      <div class="title">Recently Created</div>
      <ul class="disc">
        <% @reels_created.each do |reel| %>
        <li><%= link_to reel.title, open_reel_path(reel) %> <%= time_ago_in_words(reel.created_at) %></li>
        <% end %>
      </ul>
    </div>
    <div class="four columns omega">
      <div class="title">Recently Updated</div>
      <ul class="disc">
        <% @reels_updated.each do |reel| %>
        <li><%= link_to reel.title, open_reel_path(reel) %> <%= time_ago_in_words(reel.updated_at) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
