<div class="tray reel"><div class="inside">
  <h3><%= @reel.title %></h3>
  description
</div></div>

<div class="clips clearfix">
<% @reel.clips.each_with_index do |clip, index| %>
  <% if index % 4 === 0 && index != 0 %>
  </div>
  <div class="clips clearfix">
  <% end %>

  <div class="clip">
    <a href="#">
      <img class="default" draggable="false" src="http://globalmechanic.com/clip/thumbnails/<%= clip.image %>" alt="<%= clip.title %>" width="188" height="106" >
      <div class="text"><%= clip.title %></div>
    </a>
  </div>

<% end %>
</div>
