/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require base
 *= require layout
 *= require skeleton
 *= require_self
 *= require clips
 *= require reel
 *= require scaffolds
 */

body { margin-top: 160px; }

header {
  top: 0;
  position: fixed;
  z-index: 2;
  background: rgba(240, 240, 240, 0.95);
  width: 940px;
  padding: 10px;
}

nav ul { margin-bottom: 0px; }
nav li { display: inline-block; }

.notice {
  margin-bottom: 12px;
  padding: 5px;
  border: 1px solid green;
  background: rgba(0, 255, 0, 0.25);
}
.alert {
  margin-bottom: 12px;
  padding: 5px;
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.25);
}

#secondary {
  float: left;
  padding: 5px 0px;
}
.drawer { float: right; position: relative; }
.drawer .open-reel {
  display: inline-block;
  padding: 5px 10px;
}
.drawer .title { margin-bottom: 12px; }
.drawer .reels {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  background: rgba(239,239,239,0.95);
}
.drawer.open .reels { display: block; }
.drawer.open .open-reel {
  background: #efefef;
}

footer { clear: both; }
