/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require base
 *= require layout
 *= require skeleton
 *= require_self
 *= require clips
 *= require reel
 *= require scaffolds
 */

@font-face {
  font-family: TransitWebPro;
  src: url("transit/TransitWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: TransitWebPro;
  src: url("transit/TransitWebPro.woff") format("woff");
}

@font-face {
  font-family: Clarendon;
  src: url("clarendon/c070002tWeb.eot");
}

@font-face {
  font-family: Clarendon;
  src: url("clarendon/c070002tWeb.woff") format("woff");
}

body { margin-top: 150px; }

body, p, ol, ul, td {
  font-family: TransitWebPro;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Clarendon;
}

header {
  top: 0;
  position: fixed;
  z-index: 2;
  background: rgba(240, 240, 240, 0.95);
  width: 940px;
  padding: 10px;
}

nav ul { margin-bottom: 0px; }
nav li { display: inline-block; }
nav .disc li { display: list-item; }

#primary, #secondary, #open-reel { font-size: 23px; margin-top: 10px; }
#primary li { margin-right: 10px; }

.notice {
  margin-bottom: 12px;
  padding: 5px;
  border: 1px solid green;
  background: rgba(0, 255, 0, 0.25);
}
.alert {
  margin-bottom: 12px;
  padding: 5px;
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.25);
}

#secondary {
  float: left;
  padding: 5px 0px;
}
.drawer { float: right; position: relative; }
.drawer #open-reel {
  display: inline-block;
  padding: 5px 10px;
}
.drawer .title { margin-bottom: 12px; }
.drawer .reels {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  background: #fafafa;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
}
.drawer.open .reels { display: block; }
.drawer.open #open-reel {
  background: #fafafa;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
}
.drawer.open #open-reel:hover, #secondary li.open #create-reel:hover { background: black; }

#secondary li form {
  display: none;
}
#secondary li form input[type="text"],
#secondary li form input[type="submit"] {
  margin-bottom: 0;
}
#secondary li.open {
  position: relative;
}
#create-reel {
  display: none;
  padding: 5px 10px;
  position: relative;
  left: -10px;
}
#create-reel.show {
  display: block;
}
#secondary li.open #create-reel {
  background: #fafafa;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
}
#secondary li.open form {
  width: 300px;
  display: block;
  position: absolute;
  z-index: 1;
  top: 25px;
  left: -10px;
  z-index: 1;
  margin: 0;
  padding: 10px;
  background: #fafafa;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
}
#secondary li.open input[type='text'] {
  display: inline-block;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select,
a.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  margin-bottom: 5px;
}

footer { clear: both; }
