#clip_search #where,
#clip_search .facet,
#clip_search input[type='submit'] {
  display: inline-block;
}

.meta img {
  float: left;
  margin-right: 10px;
}

.clips {
  clear: both;
}

.clips h2 {
  clear: both;
  padding-top: 1em;
}
.clip  {
  color: #222;
  background: #eee;
  width: 188px;
  height: 146px;
  overflow: hidden;
  position: relative;
  display: block;
  float: left;
  margin: 0 0 4px 0;
}
body.reels.edit .clip,
body.reels.edit .clip img {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}

.clip.dragged {
  opacity: 0.4;
}

.clip a { text-decoration: none; }
.clip a:hover { color: #666; }

.clip .title {
  width: 100%;
  padding: 11px 0 11px 5px;
  overflow: hidden;
}

.clip video {
  margin: 10px 0;
  width: 100%;
}

.clip .reel {
  -webkit-transition: background-position-y, background-color 0.1s linear;
  background: #eee url('add-remove.png') no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: block;
  text-indent: -9999px;
}
.clip .reel.loading { background-color: #ddd; }
.clip .reel.add { background-position: top left; }
.clip .reel.add:hover { background-position: top right; }
.clip .reel.remove { background-position: bottom left; }
.clip .reel.remove:hover { background-position: bottom right; }

.slot {
  display: block;
  float: left;
  width: 0px;
  border-right: 4px dashed transparent; 
  margin-right: 0px;
  height: 146px;
  position: relative;
}
.slot.active { border-right: 4px solid red; }

.slot .region {
  cursor: default;
  display: none;
  width: 100px;
  left: -48px;
  height: 146px;
  top: 0;
  z-index: 100;
  position: absolute;
}
.slot.last .region {
  width: 238px;
  left: -48px;
}
.clips.dragging .slot .region {
  display: block;
}

.dropped {
  background: red;
}
